﻿@model ClinicProject.Models.PatientViewModel

@{
    ViewBag.Title = "Patients and their medical history";
}

<h2>Patients and their medical history</h2>

<div>
    <h4>Patient</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Address)
        </dd>

        <dt>
            Pesel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Pesel)
        </dd>

        <dt>
            Date of Birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.DateOfBirth)
        </dd>

        <dt>
            PhoneNumber
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.PhoneNumber)
        </dd>

    </dl>
</div>
@if(Model.Visits != null)
{ 
    <div>
        <h4>Medical history of a selected patient</h4>
        <table class="table">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Visits.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visits.First().Diagonose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visits.First().ExecuteDate)
                </th>
            </tr>
            @foreach (var item in Model.Visits)
            {
                string selectedRow = "";
                if(item.Id == ViewBag.VisitId)
                {
                    selectedRow = "success";
                }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Details", "Details", new { id = Model.Patient.Id, visitId = item.Id })
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Diagonose
                </td>
                <td>
                    @item.ExecuteDate
                </td>
            </tr>
            }
        </table>
    </div>
}

@if (Model.MedicalExaminations != null)
{
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().ExecutionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Result)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().State)
                </th>
            </tr>
            @foreach(var item in Model.MedicalExaminations)
            { 
                <tr>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.ExecutionDate
                    </td>
                    <td>
                        @item.Result
                    </td>
                    <td>
                        @item.Comment
                    </td>
                    <td>
                        @item.State
                    </td>
                </tr>
            }
        </table>
    </div>
}
<p>
    <a href="javascript: history.go(-1)" class="btn btn-primary" >Go Back</a>
</p>
