﻿@model PagedList.IPagedList<ClinicProject.Models.Patient>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Patients";
}

<h2>Patients</h2>

    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Patient", FormMethod.Get))
    {
    <p>
        Pesel: @Html.TextBox("Pesel",ViewBag.CurrentPeselFilter as string)
        LastName: @Html.TextBox("lastName", ViewBag.CurrentLastNameFilter as string)
        <input type="submit" value="Filter" class="btn-primary" />
    </p>    
    }

<table class="table table-hover" id="IndexTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSort, currentPeselFilter = ViewBag.CurrentPeselFilter, currentLastNameFilter = ViewBag.CurrentLastNameFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Pesel)
        </th>
        <th>
            @Html.ActionLink("Date of Birth", "Index", new { sortOrder = ViewBag.DateSort, currentPeselFilter = ViewBag.CurrentPeselFilter, currentLastNameFilter = ViewBag.CurrentLastNameFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })|
            @Html.ActionLink("Select", "Select", new { id = item.Id })
        </td>
    </tr>
}

</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentPeselFilter = ViewBag.CurrentPeselFilter, currentLastNameFilter = ViewBag.CurrentLastNameFilter}))