﻿@using ClinicProject.Helpers
@model ClinicProject.Models.Visit

@{
    ViewBag.Title = "Create Visit";
}

<h2>Create Visit</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.RegistryDate, new { @class = "control-label col-md-2" })
            <div class="col-sm-3">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="RegistryDate" readonly="readonly" id="dateTime" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-nonescaped"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientId, "Patient", new { @class = "control-label col-md-2" })
            <div class="col-sm-3">
                @Html.ActionLink("Select Patient", "Index", "Patient")
                @ViewBag.PatientId
                @Html.ValidationMessageFor(model => model.PatientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorId, "Doctor", new { @class = "control-label col-md-2" })
            <div class="col-sm-3" id="doctors">
                @Html.DropDownDoctorsFor(model => model.DoctorId, new { @class = "col-sm-7 form-control"}, "DoctorId")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function() {

            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker1').on('change', function() {
                var date = $('#dateTime').val();
                $.ajax({
                    type: "POST",
                    url: "/Visit/UpdateDoctorList",
                    dataType: "html",
                    data: {
                        date: date
                    },
                    success: function(data) {
                        $('#doctors').html(data);
                    },
                    error: function(res) {
                        console.log(res);
                    }
                });
            });

        });
    </script>
}
