﻿@model ClinicProject.Models.Visit

@{
    ViewBag.Title = "Visit editor";
}

<h2>Visit in progress...</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Visit</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        
        <p>
            Display medical history for a patient: <strong>@String.Format("{0} {1}   ",Model.Patient.FirstName,Model.Patient.LastName)</strong>
            @Html.ActionLink("Display", "GetPatientByName", new { firstName = Model.Patient.FirstName, lastName = Model.Patient.LastName})
        </p>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diagonose, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diagonose)
                @Html.ValidationMessageFor(model => model.Diagonose)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="End Visit" class="btn btn-primary" />
                <a class="btn btn-warning" href="@Url.Action("CancelVisit","Visit",new {id = Model.Id})">Cancel Visit</a>
            </div>
        </div>
    </div>
}

@Html.ActionLink("Add an examination", "AddExamination", new { id = Model.Id }, new { @class = "btn btn-primary"})

@if(Model.MedicalExaminations.Count != 0)
{
    <div>
        <h4>Medical Examinations assosciated with this visit</h4>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().EntryDate)</th>
                <th>@Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Type)</th>
                <th>@Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().State)</th>
                <th>@Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Description)</th>
                <th>@Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Result)</th>
            </tr>
            @foreach (var item in Model.MedicalExaminations)
            {
                <tr>
                    <td>
                        @item.EntryDate
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.State
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Result
                    </td>
                </tr>
            }
        </table>
    </div>

} 

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
