﻿@model ClinicProject.Models.VisitViewModel

@{
    ViewBag.Title = "Visits";
}

<h2>Visits</h2>

    <p class="text-right">Filter by state: @Html.DropDownList("States",String.Empty) </p>

@if (User.IsInRole("Registrant"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-primary" })
    </p>
}

<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
            Patient
        </th>
        <th>
            Doctor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visits.FirstOrDefault().RegistryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visits.FirstOrDefault().State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visits.FirstOrDefault().ExecuteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visits.FirstOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visits.FirstOrDefault().Diagonose)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model.Visits) {
    <tr>
        <td>
            @(String.Format("{0} {1}",item.Patient.FirstName,item.Patient.LastName))
        </td>
        <td>
            @(String.Format("{0} {1}",item.Doctor.FirstName,item.Doctor.LastName))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExecuteDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagonose)
        </td>
        <td>
            @if (item.State == ClinicProject.Models.State.Registred)
            {            
                if (Model.Role == "Doctor")
                {
                    @Html.ActionLink("Start", "Start", new { id = item.Id });
                }
                else if (Model.Role == "Registrant")
                {
                    @Html.ActionLink("Cancel", "Cancel", new { id = item.Id });
                }
            }
        </td>
    </tr>
}
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#States').change(function () {
            var value = $(this).val();
            var _url = '@Url.Action("Index", "Visit")';
            $.ajax({
                url: _url,
                type: 'Get',
                cache: false,
                data: {
                    state: value
                },
                success: function (data) {
                    $('body').html(data);
                }
            });
        });
    });
</script>