﻿
<div class="form-group">
    <label class="control-label col-md-2">License</label>
    <div class="col-md-10">
        <input type="text" name="License" />
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Specialty</label>
    <div class="col-md-10">
        <input type="text" name="Specialty" />
    </div>
</div>
