﻿@model ClinicProject.Models.Worker

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Worker</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HireDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HireDate)
                @Html.ValidationMessageFor(model => model.HireDate)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Role</label>
            <div class="col-md-10">
                @Html.DropDownList("Role", null, new { @id = "RoleId" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">UserName</label>
            <div class="col-md-10">
                <input type="text" name="UserName" />
            </div>
       </div>

        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="text" name="Password" />
            </div>
        </div>
        
        <div id="partial">
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
       </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $('document').ready(function () {
        $('#RoleId').change(function () {
            if ($(this).val() == 'Doctor') {
                $('#partial').html("Wait...");
                var url = "@Url.Action("GetPartial", "Worker")";
                $.get(url,function(data){
                    $('#partial').html(data);
                });
            }
            else
                $('#partial').html("");
            
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
