﻿@model IEnumerable<ClinicProject.Models.Worker>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">List of active workers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            License Number
        </th>
        <th>
            Specialty
        </th>
        <th>
            Job
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @if(item is ClinicProject.Models.Doctor)
            {
               @Html.DisplayFor(modelItem => ((ClinicProject.Models.Doctor)item).License)
            }
        </td>
        <td>
            @if (item is ClinicProject.Models.Doctor)
            {
                @Html.DisplayFor(modelItem => ((ClinicProject.Models.Doctor)item).Specialty)
            }
        </td>
        <td>
            @System.Data.Entity.Core.Objects.ObjectContext.GetObjectType(item.GetType()).Name
        </td>
        <td></td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
