﻿@model ClinicProject.Models.MedicalExamination

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","MedicalExamination",new {visitId = Model.VisitId},FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MedicalExamination</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EntryDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntryDate)
                @Html.ValidationMessageFor(model => model.EntryDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Type", null, new { @id = "Type" })
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div id="physical">
            <div class="form-group">
                @Html.LabelFor(model => model.Result, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Result)
                    @Html.ValidationMessageFor(model => model.Result)
                </div>
            </div>
        </div>

        <div id="laboratory">
            <div class="form-group">
                @Html.LabelFor(model => model.Code, "Code", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Code", String.Empty)
                    @Html.ValidationMessageFor(model => model.Code)
                </div>
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<script type="text/javascript">
    $(function () {
        $('#laboratory').hide();
        $('#Type').change(function () {
            if ($(this).val() == 'Laboratory') {
                $('#laboratory').show();
                $('#physical').hide();

            } else {
                $('#laboratory').hide();
                $('#physical').show();

            }
        });
    });
</script>
