﻿@model ClinicProject.Models.MedicalExaminationsViewModel

@{
    ViewBag.Title = "Medical Examinations";
}

<h2>Medical Examinations</h2>


<p class="text-right">Filter by Examination state: @Html.DropDownList("MedicalStates", String.Empty) </p>

<table class="table">
    <tr>
        <th>
            Examination code
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().EntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().ExecutionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().AcceptanceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalExaminations.FirstOrDefault().Type)
        </th>
        <th>
            Assigned Laboratory Technician
        </th>
        <th>
            Assigned Chief Technician
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.MedicalExaminations) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationDictionary.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExecutionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptanceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaboratoryTechnician.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiefTechnician.FirstName)
        </td>
        <td>
            @if (Model.Role == "ChiefTechnician" && item.State == ClinicProject.Models.MedicalExaminationState.Done)
            {
                @Html.ActionLink("Cancel  ", "Cancel", new { id = item.Id, role = Model.Role });  
                @Html.ActionLink(" Approve", "Approve", new { id = item.Id, role = Model.Role });
            }
            else if(item.State == ClinicProject.Models.MedicalExaminationState.Pending)
            {
                @Html.ActionLink("Perform  ", "Edit",new { id = item.Id});  
                @Html.ActionLink(" Cancel", "Cancel", new { id = item.Id, role = Model.Role });
            }
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#MedicalStates').change(function () {
            var value = $(this).val();
            var _url = '@Url.Action("Index", "MedicalExamination")';
            $.ajax({
                url: _url,
                type: 'Get',
                cache: false,
                data: {
                    medicalState: value
                },
                success: function (data) {
                    $('body').html(data);
                }
            });
        });
    });
</script>