﻿@{
    var menus = new[]
    {
        new {LinkText = "Home", ActionName = "Index", ControllerName = "Home", Roles = "All" },
        new {LinkText = "About", ActionName = "Index", ControllerName = "Home", Roles = "All" },
        new {LinkText = "Contact", ActionName = "Index", ControllerName = "Home", Roles = "All" },
        new {LinkText = "Manage Workers", ActionName = "Index", ControllerName = "Worker", Roles = "Admin" },
        new {LinkText = "Manage examinations and its prices", ActionName = "Index", ControllerName = "ExaminationDictionary", Roles = "Admin" },
        new {LinkText = "Medical Examinations", ActionName = "Index", ControllerName = "MedicalExamination", Roles = "ChiefTechnician,Technician" },
        new {LinkText = "Manage visits", ActionName = "Index", ControllerName = "Visit", Roles = "Registrant,Doctor" }

    };
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    var links = from item in menus
               select item;
    if (User.IsInRole("Admin"))
    {
        links = from item in menus
                    where item.Roles.Contains("Admin") || item.Roles.Contains("All")
                    select item;
    }
    else if (User.IsInRole("Doctor"))
    {
        links = from item in menus
                where item.Roles.Contains("Doctor") || item.Roles.Contains("All")
                select item;
    }
    else if (User.IsInRole("Registrant"))
    {
        links = from item in menus
                where item.Roles.Contains("Registrant") || item.Roles.Contains("All")
                select item;
    }
    else if (User.IsInRole("Technician"))
    {
        links = from item in menus
                where item.Roles.Contains("Technician") || item.Roles.Contains("All")
                select item;
    }
    else
    {
        links = from item in menus
                where item.Roles.Contains("ChiefTechnician") || item.Roles.Contains("All")
                select item;
    }
    foreach (var link in links)
    {
        @:
        <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
    }
}
else
{
    var links = from item in menus
                where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                .Any(x => new String[] { "All", "Anonymous" }.Contains(x))
                select item;
    foreach (var link in links)
    {
        @:
        <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
    }
}
