﻿@{
    ViewBag.Title = "About Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This was build for Clinic managment </p>
<p> Info soon..</p>
<p>Admin account: User Name: admin Pw: admin1</p>
