﻿@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sosnowiec <br />
    Wysoka 12a/150 <br />
    Poland <br />
    <abbr title="Phone">P:</abbr>
    517-952-251
</address>

<address>
    <strong>Personal Email:</strong>   <a href="mailto:Support@example.com">trzewior@gmail.com</a><br />
    
</address>