﻿@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white">
    <h1>Clinic System <img src="http://i.imgur.com/uUMOw7J.jpg" /></h1>
    <p class="lead">Welcome in the Clinic System that was built using Asp.Net with MVC 5 </p>
    <p><a href="/Account/Login" class="btn btn-primary btn-large">Log In &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
           If you don't have an account in application and you are a worker contact admin ASAP!
        </p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact &raquo;</a></p>
    </div>
    @if (User.Identity.IsAuthenticated)
    {        
    <div class="col-md-6">
        <h2>Welcome @String.Format(" {0} !",User.Identity.GetUserName())</h2>
        <p>You should think about changing your password for safety issues!</p>
        <p><a class="btn btn-default" href="/account/Manage">Manage account &raquo;</a></p>
    </div>
    }
</div>